<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Hacker News Clone</title>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('js/api.js')}}"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
