{% extends "layout.html.twig" %}

{% block content %}

  <span id="loading" class="loading">Loading...</span>
  <table id="item">
    <tbody></tbody>
  </table>
  <br>
  <br>
  <table id="comments">
    <tbody></tbody>
  </table>

{% endblock %}
